@font-face{
  font-family: 'East Bloc';
  src: url('../East Bloc ICG Closed.ttf');
}
body{
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(left,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(to right,  #eeeeee 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
}
.top{
  font-size: 4em;
  font-family: 'East Bloc';
  background-color: #545454;
  margin-top: 0;
  color: #ff9d00;
}
.separator{
  margin-bottom: 3em;
}
